/*
Primary : 631549; Hover : 701C54
Danger  : 940A0A; Hover : a61313;
*/

body
{
    background: #F3F7F9!important;
    padding-bottom: 80px;
}

.bg-mc-primary
{
    background-color: #631549;
}

.bg-mc-light
{
    background-color: #701C54;
}

.nav-button
{
    width: 100%;
    margin-left: 1px;
    color:white;
    padding: 20px 20px;
    background: #751e58;
    border-width: 0;

}
.nav-button:hover
{
    color:white;
}
.nav-button.active {
    background: #69134c !important;
    color:white!important;
    border-style: outset!important;
    border-width: 0;
    border-color: white!important;
    outline: none!important;
}

.psBtn
{
    margin-left: 1px;
    color:white;
    padding: 14px 40px;
    background: #751e58;
    border-width: 0;
}
.psBtn:hover
{
    color:white;
    background: #963776;
}

.form-control:focus {
    border-color: #963776;
    box-shadow: inset 0 0 0 #963776, 0 0 5px #963776;
}

.form-select:focus {
    border-color: #963776;
    box-shadow: inset 0 0 0 #963776, 0 0 5px #963776;
}

.card-header
{
    background: #963776;
}

.contact-bt
{
    padding: 15px 15px;
}

.contact-bt:hover
{
    background: #751e58;
}

.autobt{
    margin-left: 5px;
    padding: 0 20px;
    height: 38px;
    min-width: 150px;
}

.nav-link.active{
    background: #963776!important;
    color:white!important;
}

.stack_node{
    border-style: solid;
    width: 100%;
    height: 30px;
    margin: 5px 0;
    border-color: #701C54;
    border-radius: 5px;
    text-align: center;
    color: #701C54;
}

.oprt{
    background-color: #f2f2f2;
    border-radius: 10px;
    padding: 10px 15px;
    margin-bottom: 0px;
    color: #343a40;
}

.oprt.active{
    margin-left: 10px;
    margin-right: 10px;
    background-color: #b95093 !important;
    color: white!important;
    padding: 10px 20px!important;
    font-size: 20px;
    color: #343a40;
}

.oprtBtn
{
    margin: 5px;
    color:white;
    width: 100px;
    height: 39px;
    padding: 6px 0;
    background: #751e58;
    border-width: 0;
}

.speedinp
{
    margin: 0px 5px 5px 5px;
    width: 200px;
    height: 39px;
    padding: 6px 0;
}

.oprtBtn:disabled
{
    background-color: #dfbad3;
}

.oprtBtn:hover
{
    color:white;
    background: #963776;
}

.oprtHide
{
    background-color: transparent!important;
    color: transparent!important;
}